.slick-slider {
  button.slick-prev {
    opacity: 1;
    z-index: 1;
    &:before {
      color: gray;
    }
  }
  button.slick-next {
    z-index: 1;
    opacity: 1;
    &:before {
      color: gray;
    }
  }
}

 